<!DOCTYPE html>
<html>
<head>
    <title>Attendance List</title>
</head>
<body>
    <h1>Attendance List</h1>
    <table>
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        {% for attendance_record in attendance_records %}
            <tr>
                <td>{{ attendance_record.student }}</td>
                <td>{{ attendance_record.course }}</td>
                <td>{{ attendance_record.date }}</td>
                <td>{{ attendance_record.status }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
